<!DOCTYPE html>
<html xmlns:th="http://tymelaf.org">
<body>

<script type="text/javascript" th:fragment="javascript">
$(document).ready(function(){
	$("#buscar_producto").autocomplete({
		source:function( req, res){
			console.log("sas");
			$.ajax({
				url : "/factura/cargar-productos/" + req.term,
				dataType : "json",
				data : {
					term : req.term
				},
				success : function(data) {
					res($.map(data, function(item) {
						return {
							value : item.id,
							label : item.nombre,
							precio : item.precio,
						};
					}));
				},
			});
		},
		select:function(event, ui){
			
			var value = ui.item.value;
			var label = ui.item.label;
			var precio = ui.item.precio;
			
			var linea = $("#plantillaItemsFactura").html();
			
			$("#buscar_producto").val("");
			
			if( itemsHelper.hasProducto(value) ){
				itemsHelper.incrementaCantidad( value, precio );
				return false;
			}
			
			linea = linea.replace(/{ID}/g, value);
			linea = linea.replace(/{NOMBRE}/g, label);
			linea = linea.replace(/{PRECIO}/g, precio);
			
			$("#cargarItemProductos tbody").append(linea);
			itemsHelper.calcularImporte(value, precio, 1)
			return false;
		}
	});
});

var itemsHelper = itemsHelper || {
	calcularImporte:function(id, precio, cantidad){
		 var total = parseInt(precio)*parseInt(cantidad);
		$("#total_importe_"+id).html(total);
	},
	hasProducto:function(id){
		var result=false;
		$('input[name="item_id[]"]').each(function(){
			if( parseInt(id) == parseInt($(this).val()) ){
				result = true;
			}
		});
		
		return result;
	},
	incrementaCantidad: function(id, precio){
		var cantidad = $("#cantidad_"+id).val() ? parseInt($("#cantidad_"+id).val()) : 0;
		$("#cantidad_"+id).val(++cantidad);
		this.calcularImporte(id,precio,cantidad);
		
	}
}
</script>
</body>
</html>