<!DOCTYPE html>
<html xmlns:th="http://tymelaf.org">

<head th:replace="layout/layout::head"></head>

<body>
	<header th:replace="layout/layout::header"></header>
	<div class="container py-4">
		<div class="card bg-light">
			<div class="car-header" th:text="${titulo}"></div>
			<div class="card-body">
				<form th:action="@{/form}" th:object="${cliente}" method="POST" enctype="multipart/form-data">
					<table class="table table-bordered">

						<tr>
							<td>Nombre:</td>
							<td><input type="text" th:field="*{nombre}"
								class="form-control" /> <small class="form-text text-danger"
								th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
							</td>
						</tr>
						<tr>
							<td>Apellido:</td>
							<td><input type="text" th:field="*{apellido}"
								class="form-control" /> <small class="form-text text-danger"
								th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
							</td>
						</tr>
						<tr>
							<td>Email</td>
							<td><input type="text" th:field="*{email}"
								class="form-control" /> <small class="form-text text-danger"
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
							</td>
						</tr>
						<tr>
							<td>Fecha</td>
							<td><input type="text" th:field="*{createAt}"
								class="form-control" /> <small class="form-text text-danger"
								th:if="${#fields.hasErrors('createAt')}" th:errors="*{createAt}"></small>
							</td>
						</tr>
						<tr>
							<td><input type="submit" class="btn btn-primary"
								value="Crear Cliente" /></td>
						</tr>
					</table>
					<!-- <input type="hidden" th:field="*{id}" class="btn btn-primary"/>  -->
				</form>

			</div>
		</div>
		<!-- card -->
	</div>
	<footer th:replace="layout/layout::footer"></footer>
</body>

</html>